@import "bootstrap";

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.core-sprite {
  background-image: image-url("color_1.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

.navbar-brand {
  background-position: -190px 0;
  height: 40px;
  width: 190px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.explore-icon {
  background-position: -280px -350px;
  height: 28px;
  width: 28px;
}

.notification-icon {
  background-position: -140px -350px;
  height: 28px;
  width: 28px;
}
.profile-icon {
  background-position: -85px -350px;
  height: 28px;
  width: 28px;
}

.nav-item:not(:first-child) {
  margin-left: 30px;
}

.box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 0;
  margin: 0 0 10px;
}

.brand-name-img {
  background-position: 0 0;
  height: 58px;
  width: 190px;
}

.landing-left {
  .dummy-phone {
    background-image: image-url("screen3.jpg");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 454px 618px;
    position: relative;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
  }

  .screen-shot {
    position: absolute;
    top: 99px;
    right: 63px;

    .item {
      position: absolute;
    }
  }
}
.landing-right {
  .form-login {
    width: 350px;

    form {
      padding: 0 40px;

      .btn-primary {
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
      }

      input {
        border: 1px solid #efefef;
      }

      .form-check-label {
        padding: 0;
        font-size: 15px;
        color: #262626;
      }
    }

    .brand-name-img {
      margin: 22px auto 8px;
    }
  }

  .redirect-links {
    width: 350px;
  }
}

footer .nav-item {
  color: #003569 !important;
  font-size: 12px;
  font-weight: bold;
}

.light-color {
  color: #999;
}
